

body {
	margin: 0;
	background: black;
	display: flex;
	justify-content: center;
	font-weight: 200;
	font-family: helvetica, sans-serif;
	color: white;
}

.container {
	

}

#display {
	font-size: 4em;
	text-align: right;
	margin: 0 0 -.125em 0;
}

#inputDisplay {
	font-size: 1em;
	text-align: right;
}

button {
	font-size: 2em;
	color: #FFF;
	height: 15vw;
	width: 15vw;
	margin: .5vw;
	border-radius: 20vw;
	border: none;
}

button:hover {
	border: 1px solid #999;
}

.num {
	background-color: #333;
}

.clear {
	background-color: #DDD;
	color: #222;
	width: 48.5vw;
	border-radius: 20vw;
}

.operator {
	background-color: orange;
}

#equals {
	width: 31vw;
	border-radius: 20vw;
}


@media screen and (min-width: 600px) {
	button {
		font-size: 2em;
		color: #FFF;
		height: 13vh;
		width: 13vh;
		margin: .5vh;
		border-radius: 20vh;
		border: none;
	}
	
	.clear {
		width: 42vh;
	}
	
	#equals {
		width: 28.5vh;
	}
		
}

@media screen and (max-width: 300px) {
	button {
		font-size: 1em;
		color: #FFF;
		height: 13vh;
		width: 13vh;
		margin: .5vh;
		border-radius: 20vh;
		border: none;
		color: green;
	}
	
	.clear {
		width: 42vh;
	}
	
	#equals {
		width: 28.5vh;
	}
	
}